.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	/* overflow-wrap: normal; */
	gap: 10px;
	/* grid: auto / auto auto; */
	/* grid-auto-columns: auto; */
	/* grid-template-rows: auto auto; */
	/* border: 1px red solid; */
}

.itembox {
	background-color: lightgrey;
	width: 80px;
	border: 1px solid black;
	padding: 50px;
	margin: 15px 15px 0px 15px;
	height: 170px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 20px;
}

div.itembox img {
	width: 150px;
	height: 100px;
}

div.itembox .namabrg:hover,
div.itembox .namabrg.hoverover {
	cursor: pointer;
	color: white;
	outline: black;
}

.namabrg {
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 0px;
	width: 200px;
}

.hargabrg {
	color: black;
	margin: 0px;
	width: 200px;
}

.nama {
	margin: 0px;
	width: 150px;
}

.tanggal {
	width: 100px;
	margin: 0px;
}

div .a :hover {
	background-color: red;
}